body {
  background-color: #fefae0;
}

.admin-page {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  min-height: 100vh; /* Ensure the page takes at least the full height of the viewport */
  transition: margin-left 0.3s ease; /* Menu toggle animation */
  padding: 20px; /* Optional: Adds padding around the page */
}

.admin-content {
  display: flex;
  justify-content: center; /* Horizontally center the content inside */
  align-items: center; /* Vertically center the content inside */
  width: 100%;
  max-width: 1200px; /* Optional: Max width for larger screens */
  padding: 20px;
  box-sizing: border-box;
  transition: margin-left 0.3s ease;
}

.open-menu-button {
  background-color: var(--primary-color-ivory);
  color: var(--primary-color-brown);
  border: 3px solid var(--primary-color-brown);
  cursor: pointer;
  font-size: 16px;
  width: 50px; /* Button width */
  height: 50px; /* Button height */
  border-radius: 50%; /* Circle button */
  display: flex;
  justify-content: center; /* Center the icon */
  align-items: center; /* Center the icon */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Shadow */
  margin-bottom: 3%;
}

.open-menu-button:hover {
  background-color: #b99470;
  color: #fff;
}

.admin-menu-btns {
  display: flex; /* Flex for horizontal alignment */
  gap: 10px; /* Optional: Gap between buttons */
}

@media (max-width: 700px) {
  .admin-page {
    flex-direction: column; /* Stack vertically on mobile */
    height: auto;
    padding: 0; /* Optional: Remove padding on mobile */
  }

  .admin-menu {
    width: 100%;
    height: 20%;
  }

  .admin-content {
    width: 100%;
    height: auto;
    padding-top: 10px; /* Optional: Adjust padding on mobile */
  }

  .home-btn {
    top: 10px;
    right: 10px;
  }
}
