.diary-list {
  margin: 50px auto 40px;
}

.diary-list__group-title {
  color: var(--text-color-deepBrown);
}

.diary-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid var(--text-color-deepBrown);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.diary-list__item-date {
  border: 1px solid var(--text-color-deepBrown);
  width: 70px;
  height: 85px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.diary-list__item-mood-icon {
  width: 40px;
  height: 40px;
}

.diary-list__item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  flex: 1;
  margin-left: 10px;
}

.diary-list__item-title {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 4px;
}

.diary-list__item-description {
  font-size: 14px;
  color: var(--text-color-muted);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.diary-list__item-photo {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
}

@media (max-width: 768px) {
  .diary-list__item {
    flex-direction: row;
    padding: 8px;
  }

  .diary-list__item-date {
    width: 50px;
    height: 60px;
  }

  .diary-list__item-date-day {
    font-size: 13px;
  }

  .diary-list__item-content {
    margin-left: 8px;
  }

  .diary-list__item-photo {
    width: 80px;
    height: 80px;
  }

  .diary-list__item-mood-icon {
    width: 30px;
    height: 30px;
  }
}
