.chatbot-list-card {
  margin-bottom: 30px;

  .chatbot-num-area {
    text-align: center;
    font-weight: bolder;
  }
  .chatbot-image {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    object-fit: cover; /* 비율을 유지하면서 크기에 맞게 자름 */
    display: block; /* 부모와의 여백 제거 */
  }

  .chatbot-info-area {
    color: gray;
  }
  .chatbot-btn__modify {
    margin-right: 6px;
  }
}

.chatbot-list-card.disabled-card {
  background-color: var(--primary-color-brown);
  .chatbot-info-area {
    color: white;
  }
}
