.my-page-toptop {
  position: absolute;
  top: 0;
}

.mypage-style {
  width: calc(100vw - 100px);

  .mobile-sidebar-toggle {
    display: none;
  }

  .logo-image {
    margin-top: 20px;
  }

  .sidebar-general-style {
    margin-top: 15px;
  }

  .sidebar-item__title,
  .sidebar-item__menu {
    color: #5f6f52;
    font-weight: bold;
    padding: 20px 10px;
    list-style-type: none;
  }

  .sidebar-item__menu {
    margin-left: 10px;
  }

  .sidebar-item__menu:hover {
    color: white;
    background-color: #a9b388;
    font-weight: bold;
  }
  .sidebar-area {
    padding-left: 0;
  }

  .sidebar {
    max-width: 250px;
    padding: 20px;
    background-color: rgb(248, 249, 250);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-left: 40px;
    height: 100vh;
    margin-left: 20px; /* navbar의 너비만큼 왼쪽 여백 */
  }

  /* 기본 스타일 */
  .mypage-area {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 가로 중앙 정렬 */
    padding: 20px; /* 콘텐츠 패딩 */
    gap: 20px; /* 요소 간 간격 */
    /* 추가 */
    margin-left: 300px;
  }
  .userInfo-area {
    width: 100%; /* 넓이를 부모 컨테이너에 맞춤 */
    max-width: 800px; /* 콘텐츠 최대 너비 */
  }

  .chatbot-list-area {
    width: 100%; /* 넓이를 부모 컨테이너에 맞춤 */
    max-width: 800px; /* 콘텐츠 최대 너비 */
  }

  .chatbot-list__title {
    text-align: center; /* 타이틀 중앙 정렬 */
    margin-bottom: 10px; /* 타이틀 하단 간격 */
  }

  .chatbot-list__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .chatbot-list__btn-list {
    text-align: center; /* 버튼 중앙 정렬 */
    margin-top: 20px; /* 버튼 상단 간격 */
  }
}

/* 화면 너비가 768px 이하일 때 (모바일) */
@media (max-width: 768px) {
  .my-page-toptop {
    position: absolute;
    top: 0;
    width: 100vw;
  }
  .mypage-style {
    width: 100vw;

    .sidebar-toggle {
      display: none;
    }

    .mobile-sidebar-toggle {
      /* 보이도록 설정 */
      display: block;
    }

    .sidebar {
      max-width: 100%;
      padding: 0px;
      margin-left: 0px;
    }

    .mobile-sidebar {
      max-height: 60px;
      width: 100vw; /* 전체 너비 */
      top: 0;
      left: 0;
    }

    .mypage-area {
      width: 100vw;
      margin-left: 0;
    }
    .userInfo-area {
      margin-top: 50px;
    }

    .chatbot-list-area {
      width: 100%;
      padding: 10px; /* 모바일에서 내부 여백 추가 */
    }
  }
}

.offcanvas-header {
  background-color: var(--primary-color-ivory);
}
.offcanvas-body {
  background-color: var(--primary-color-ivory);
  font-family: "HakgyoansimBunpilR";

  .logo-image {
    width: 200px;
  }
  .sidebar-general-style {
    margin-top: 15px;
  }

  .sidebar-item {
    color: #5f6f52;
    font-weight: bold;
    padding: 10px 10px;
    list-style-type: none;
    font-size: 20px;
  }
}
