.admin-payment-page {
  .payment-table-name {
    margin-top: 3%;
    margin-bottom: 2%;
    padding: 1%;
  }

  .payment-table-name .payment-table-content .container {
    border-radius: 10px;
  }

  .payment-table-name .payment-table-content .row {
    display: flex;
    justify-content: space-between;
  }

  .payment-table-name .payment-table-content .col {
    display: flex;
    align-items: center;
  }

  .table-area {
    margin-top: 3%;
    background-color: #fff;
    border-radius: 20px;
  }

  .payment-table-name {
    border-bottom: 2px solid #5f5f5f;
  }

  .btn-gap {
    margin-right: 3%;
  }

  .payment-title{
    margin-bottom: 2%;
  }

  .container .order-table-name{
    margin-top: 3%;
        margin-bottom: 2%;
        padding: 1%;
  }

.pagination {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  list-style: none;
  gap: 0.5rem;
}

.pagination .page-item {
  border: 1px solid #A9B388;
  border-radius: 5px; 
}

.pagination .page-item.active .page-link {
  background-color: #A9B388; 
  color: white;
  outline: none; 
  box-shadow: none;
  border: 1px solid #A9B388; 
}

.pagination .page-link {
  padding: 0.5rem 0.75rem;
  color: #A9B388; 
  text-decoration: none; 
}

.pagination .page-link:hover {
  background-color: #f1f1f1; 
}

}