.admin-user-page {
  .admin-user-page__btn {
    font-size: 15px;
    padding: 5px 10px;
  }
  .total-user-num {
    text-align: end;
    margin-top: 10px;
    padding-right: 25px;
    font-weight: bolder;
  }
  .user-table-name {
    margin-top: 3%;
    margin-bottom: 2%;
    padding: 1%;
  }

  .user-table-name .user-table-content.container {
    border-radius: 10px; /* Optional: If you want to round the container inside as well */
  }

  .user-table-name .user-table-content .row {
    display: flex;
    justify-content: space-between;
  }

  .user-table-name .user-table-content .col {
    display: flex;
    align-items: center; /* Vertically centers the content */
  }

  .table-area {
    margin-top: 3%;
    background-color: #fff;
    border-radius: 20px;
  }

  .user-table-name {
    border-bottom: 2px solid #000;
  }

  /* 기본 탭 스타일 */
  .nav-tabs .nav-link {
    color: gray; /* 비활성화된 탭 글자 색 */
  }

  /* 활성화된 탭 스타일 */
  .nav-tabs .nav-link.active {
    color: black; /* 활성화된 탭 글자 색 */
    font-weight: bold; /* 강조 효과 */
  }

  /* 탭에 마우스를 올렸을 때 스타일 */
  .nav-tabs .nav-link:hover {
    color: darkgray; /* 마우스 오버 시 색상 */
  }

  @media (max-width: 770px) {
    .user-table-content__btn {
      font-size: 12px;
      padding: 5px 10px;
    }
    .email {
      max-width: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.modal-content {
  font-family: "HakgyoansimBunpilR";
}

.form-check-input:checked {
  background-color: var(--primary-color-deepGreen);
  border-color: var(--primary-color-deepGreen);
}
