.comment-area-list {
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow-y: auto;
}

.comment-area-list::-webkit-scrollbar {
  display : none;
}
.comment__general-style {
  background-color: var(--primary-color-ivory); 
  padding: 2%; 
  border-radius: 1rem;
  margin: 2%;
}

.comment-count {
  color: var(--primary-color-ivory);
  align-items: flex-end; 
  text-align: right;
  margin: 1rem;
}

.send-icon{
  border: none;
  background-color: var(--primary-color-ivory); 
  font-size: 1.3rem;
  color: var(--text-color-deepBrown);
}

.comment__chatbot-image-area {
  max-width: 30%;
}

.comment__general-style{
  margin: 0;
  margin-bottom: 2%;
}

.comment__toggle-link {
  color: var(--text-color-deepBrown);
  text-decoration: none;
  transition: color 0.3s ease;
  margin-left: auto; 
  justify-self:end;
}

.chatbot-name{
  font-weight: bold;
}

.comment__reply-name {
  font-weight: bold; 
}

.comment-form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.comment-user-img {
  border-radius: 50%;
}

.comment-user-input {
  width: 100%;
}

.send-icon {
  border: none;
  background-color: var(--primary-color-ivory);
  font-size: 1.3rem;
  color: var(--text-color-deepBrown);
}

.comment__reply-style{
  margin-bottom: 2%;
}





@media (max-width: 1600px) {

    .comment__chatbot-image-area {
      max-width: 120px;
    }
  
    .comment__area {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0
    }


    .comment-user-input{
      width: 70%;
    }

    .align-items-center{
      flex-direction: row;
    }

}

@media (max-width: 800px){
  
  .comment-user-img{
    display : none;
  }
}