.admin-menubar {
  position: fixed;
  top: 0;
  left: 0;
  width: 15%;
  height: 100%;
  background-color: var(--primary-color-brown);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transition: transform 0.3s ease;
  z-index: 100;
}

.admin-menubar.open {
  transform: translateX(0);
}

.admin-menubar.closed {
  transform: translateX(-100%);
}

.menu-toggle-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: var(--primary-color-brown);
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.menu-toggle-button:hover {
  background-color: var(--primary-color-ivory);
  color: #000;
}

.admin-menu-header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.menu-title {
  cursor: pointer;
  width: 50%;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.admin-button {
  background-color: var(--primary-color-brown);
  color: white;
  border: none;
  padding: 15px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  text-align: right;
}

.admin-button.active {
  background-color: var(--primary-color-ivory);
  color: #000;
}

.admin-button:hover {
  background-color: var(--primary-color-ivory);
  color: #000;
}
@media (max-width: 1500px) {
  .admin-menubar {
    width: 25%;
  }
}

@media (max-width: 1210px) {
  .admin-menubar {
    z-index: 1000;
  }

  .admin-menubar.open {
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  }
}

@media (max-width: 700px) {
  .admin-menubar {
    width: 60%;
  }
}
